.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.user-actions {
    padding: 10px;
    border-left: 1px solid #d2c4c4;
}

.user-details {
    border: 1px solid #d2c4c4;
    width: 300px !important;
    padding: 4px;
}

.overview {
    background-color: #0861c0;
    color: #d8d8d8;
    border-radius: 0px !important;
    min-height: 90vh;
}
.list-group-item {
    background-color: unset !important;
    border-color: #d8d8d8;
}
.keydown{
    background-color : #14090916;
    color: #d8d8d8;
}
.reporting{
    background-color: #033f80;
    color: #d8d8d8;
    font-size: 12px;
}

.fx-header{
    background-color: #003064;
    color: #d8d8d8;
    font-size: 24px;
}

.navbar {
    border-bottom: 2px solid #00000038;
}